@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 48 75% 88%;
    --foreground: 40 10% 10%;
    --card: 47 60% 83%;
    --card-foreground: 40 10% 10%;
    --popover: 47 60% 83%;
    --popover-foreground: 40 10% 10%;
    --primary: 40 10% 10%;
    --primary-foreground: 48 75% 88%;
    --secondary: 46 50% 78%;
    --secondary-foreground: 40 10% 14%;
    --muted: 46 40% 80%;
    --muted-foreground: 40 8% 38%;
    --accent: 38 70% 42%;
    --accent-foreground: 48 75% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 44 35% 70%;
    --input: 44 35% 70%;
    --ring: 38 70% 42%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.375rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
